:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background: #f5f5f5;
  --hero-background: #2f303a;
  --button-background-color: #f5f4fa;
  --button-background-hero: #188ce8;
  --accent-logo-color: #000000;
  --icon-color: #afb1b8;
  --icon-backgraund-color: rgba(255, 255, 255, 0.1);
}

/* index*/

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.element {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header*/

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/*outline: 2px solid tomato; */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/new_photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-nav {
  display: flex;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo-header {
  color: var(--accent-logo-color);
}

.logo-footer {
  color: var(--primary-color);
}
.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-carrent {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.nav-link-carrent::after {
  position: absolute;
  bottom: -33.5px;
  right: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav-list .item + .item {
  margin-left: 50px;
}

.site-nav-list .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav-list {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
}

.auth-nav-list .item + .item {
  margin-left: 50px;
}

.contakt-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover,
.contakt-link:focus {
  color: var(--accent-color);
}

.senvelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.senvelope-icon:hover,
.smartphone-icon:hover,
.senvelope-icon:focus,
.smartphone-icon:focus {
  fill: var(--accent-color);
}
/* hero*/

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-hero {
  color: var(--primary-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-hero {
  background-color: var(--hero-background);
  text-align: center;
}

/* section особливості*/

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*features*/
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;

  height: 120px;
  align-items: center;
  background-color: var(--button-background-color);
}
/* padding: 25px 100px 25px 100px;
.features-icon .icon{
  display: inline-block;
   margin: 0;
 align-items: center;
  justify-content: center;
 }
*/

.features .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

/*section*/

.specialty .element {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}

.section-list {
  display: flex;
}
/*
.section-team .section-title {
   padding-top: 94px;
}

.img{
  padding-top: 0;
  padding-bottom: 94px;
}*/

.section-list .item + .item {
  margin-left: 30px;
}

.section-list .item {
  position: relative;
}

.section-thumb {
  position: absolute;
  bottom: 4px;
  left: 0;

  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.section-actions {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  padding-top: 27px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  color: var(--primary-color);
}

/*team-title*/
.section-team {
  background-color: var(--button-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.team-item {
  background-color: var(--primary-color);
}

/* button*/

.button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--button-background-hero);
}

.actions {
  display: flex;
  padding-bottom: 30px;
  margin-top: 16px;
  gap: 10px;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  list-style: none;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons .icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icons:hover,
.icons:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

/*  
flex-basis: calc((100% - 30px) / 4);
margin-right: 10px;
.icons .icon:nth-child( 4n ) {
margin-right: 0;
}*/

.section-clients .actions {
  gap: 30px;
}

.item-client {
  width: 170px;
  height: 92px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  list-style: none;
  border: none;
  width: 100%;
  height: 100%;

  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  fill: currentColor;
  width: 53%;
  height: 53%;
}

.clients:hover,
.clients:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

/* footer*/

.footer {
  background-color: var(--hero-background);
  display: flex;
}
.cell {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  display: block;
  padding-top: 20px;
  color: var(--primary-color);
}

.footer-link {
  display: block;
  padding-top: 9px;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-link,
.adress {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.join-section {
  margin-left: 70px;
}

.join {
  padding-top: 12px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-color);
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  list-style: none;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--icon-backgraund-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer .icon-footer {
  fill: currentColor;
}

.icons-footer:hover,
.icons-footer:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.form-section {
  position: relative;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 93px;
}

.footer-label {
  width: 358px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 12px;
  color: var(--primary-color);
}

.footer-input {
  resize: none;
  color: var(--primary-color);
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-top: 20px;

  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: var(--primary-color);
}

.footer-input:focus {
  outline: 1px solid #2196f3;
  border: transparent;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-top: 50px;
  padding-left: 28px;
  padding-right: 62px;

  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--button-background-hero);
}

.icon-form-footer {
  pointer-events: none;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-37%);
}

/* portfolio*/

/* filter buttons*/

.buttons {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.buttons .item + .item {
  margin-left: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  color: var(--title-text-color);
  background-color: var(--button-background-color);
  border: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*progect*/

.progects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.progect-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.progect-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progect-item:nth-child(3n) {
  margin-right: 0;
}

.progect-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.progect-item .img {
  display: block;
  width: 100%;
  height: auto;
}

/* width: 370px;
  margin: 15px;

  margin: -15px;

width: calc((100%-60px) / 3);
 margin-right: 30px;
 margin-bottom: 30px;
 
 .progect-link:nth-child(3n) {
margin-right: 0;
}

.progect-link:nth-last-child(-n+3){
  margin-bottom: 0;
  }*/
/*

  gap: 30px;
*/
.progect-link {
  display: block;
  text-decoration: none;
}
.progect-title {
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.progect-text {
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.progect-thumb {
  position: relative;
  overflow: hidden;
}

.text-thumb {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progect-link:hover .text-thumb {
  transform: translateY(0%);
  opacity: 1;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  opacity: 1;
  background-color: var(--primary-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  z-index: 6;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
  z-index: 6;
}

.close-icon {
  fill: #000000;

  width: 11px;
  height: 11px;
}

textarea {
  resize: none;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-fild {
  position: relative;
  width: 448px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.67;
  color: var(--primary-text-color);
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-15%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: 1px solid #2196f3;
  border: transparent;
}

.form-label:focus-within + .form-icon {
  fill: #2196f3;
}
.form-input:focus-within + .form-icon {
  fill: #2196f3;
}

.comment {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  outline: 1px solid #2196f3;
  border: transparent;
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--button-background-hero);
}

.form-label {
  display: flex;
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  margin: 0 auto;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-wrapper {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-wrapper {
  background-color: #2196f3;
  fill: transparent;
}

.checkbox:checked + .icon-wrapper .checkbox-icon {
  background-position: center;
  fill: #fff;
}

.form-link {
  text-decoration: underline;
  padding-left: 2px;
  color: var(--accent-color);
}
